<div class="row">

    <div class="card col-md-6 offset-md-3 offset-md-3">
    
    <div class="row">
    
    <h3 class="text-center"> Update Book </h3>
    
    <hr />
    
    <div class="card-body">
    
    <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
    
    <label> Book Code</label>
    
    <input type="text" class="form-control" id="bookCode" [(ngModel)]="book.bookCode"
    
    name="bookCode" readonly>

</div>
<div class="form-group">

    <label>Book Title</label>
    
    <input type="text" class="form-control" id="bookTitle" [(ngModel)]="book.bookTitle"
    
    name="bookTitle">
    
    </div>
    
    <div class="form-group">
    
    <label> Book Author</label>
    
    <input type="text" class="form-control" id="bookAuthor" [(ngModel)]="book.bookAuthor"
    
    name="bookAuthor">
    </div>
    <div class="form-group">

        <label> Book Price</label>
        
        <input type="text" class="form-control" id="bookPrice" [(ngModel)]="book.bookPrice"
        
        name="bookPrice">
        
        </div>
        
        <br />
        
        <button class="btn btn-success" type="submit">Submit</button>
        
        </form>
        
        </div>
        
        </div>
        
        </div>
        
        </div>
