<div class="row">

    <div class="card col-md-6 offset-md-3 offset-md-3">
    
    <div class="row">
    
    <h3 class="text-center"> Create Book </h3>
    
    <hr />
    
    <div class="card-body">
    
    <form #templateDrivenForm = "ngForm" (ngSubmit)="onSubmit(templateDrivenForm)" >
    
    <div class="form-group">
    
    <label> Book Code</label>
    
    <input type="text" class="form-control" id="bookCode" [(ngModel)]="book.bookCode"
    
    name="bookCode" #bookCode="ngModel" required>
    
    <span class="text-danger" *ngIf = "submitted">
    
    Book Code is required
    
    </span>
    
    </div>
    <div class="form-group">

        <label>Book Title</label>
        
        <input type="text" class="form-control" id="bookTitle" [(ngModel)]="book.bookTitle"
        
        name="bookTitle" #bookTitle="ngModel" required>
        
        <span class="text-danger" *ngIf = "submitted">
        
        Book Title is required
        
        </span>
        
        </div>
        
        <div class="form-group">
        
        <label> Book Author</label>
        
        <input type="text" class="form-control" id="bookAuthor" [(ngModel)]="book.bookAuthor"
        
        name="bookAuthor" #bookAuthor="ngModel" required>
        
        <span class="text-danger" *ngIf = "submitted">
        
        Book Author is required
        
        </span>
        
        </div>
        <div class="form-group">

            <label> Book Price</label>
            
            <input type="text" class="form-control" id="bookPrice" [(ngModel)]="book.bookPrice"
            
            name="bookPrice" #bookPrice="ngModel" required>
            
            <span class="text-danger" *ngIf = "submitted">
            
            Book Price is required
            
            </span>
            
            </div>
            
            <br />
            
            <button class="btn btn-success" type="submit" >Submit</button>
            
            </form>
            
            </div>
            
            </div>
            
            </div>
            
            </div>
